@model ManageUsersViewModel

@{
    ViewData["Title"] = "Manage users";
}

<h1>@ViewData["Title"]</h1>

<br />
<h4>Administrators</h4>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var item in Model.Administrators)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
        </tr>
    }
</table>

<h4>Everyone</h4>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var item in Model.Everyone)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
        </tr>
    }
</table>